/*! CSS Used from: Embedded ; media=screen */

@media screen {
    [data-darkreader-inline-fill] {
        fill: var(--darkreader-inline-fill) !important;
    }
}

/*! CSS Used from: Embedded ; media=screen */

@media screen {
    body {
        background-color: #181a1b;
    }
    body {
        border-color: #736b5e;
        color: #e8e6e3;
    }
    a {
        color: #3391ff;
    }
    ::placeholder {
        color: #b2aba1;
    }
    ::-webkit-scrollbar {
        background-color: #202324;
        color: #aba499;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #454a4d;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #575e62;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: #484e51;
    }
    ::-webkit-scrollbar-corner {
        background-color: #181a1b;
    }
    ::selection {
        background-color: #004daa !important;
        color: #e8e6e3 !important;
    }
}

/*! CSS Used from: Embedded ; media=screen */

@media screen {
    ::placeholder {
        opacity: 0.5 !important;
    }
}

/*! CSS Used from: Embedded ; media=screen */

@media screen {
    body {
        color: var(--darkreader-text--bs-body-color);
        background-color: var(--darkreader-bg--bs-body-bg);
        -webkit-tap-highlight-color: transparent;
    }
    h1,
    h2,
    h3,
    h4 {
        color: var(--darkreader-text--bs-heading-color, inherit);
    }
    a {
        color: rgb(137, 197, 254);
        text-decoration-color: initial;
    }
    a:hover {
        --darkreader-text--bs-link-color-rgb: var(--darkreader-text--bs-link-hover-color-rgb);
    }
    button:focus:not(:focus-visible) {
        outline-color: initial;
    }
    fieldset {
        border-color: initial;
    }
    .container,
    .container-fluid {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .form-control {
        color: var(--darkreader-text--bs-body-color);
        background-color: var(--darkreader-bg--bs-form-control-bg);
        border: var(--darkreader-border--bs-border-width) solid var(--darkreader-border--bs-border-color);
    }
    .form-control:focus {
        color: var(--darkreader-text--bs-body-color);
        background-color: var(--darkreader-bg--bs-form-control-bg);
        border-color: rgb(1, 57, 137);
        outline-color: initial;
        box-shadow: rgba(2, 80, 196, 0.25) 0px 0px 0px 0.25rem;
    }
    .form-control::placeholder {
        color: var(--darkreader-text--bs-secondary-color);
    }
    .form-control:disabled {
        background-color: var(--darkreader-bg--bs-form-control-disabled-bg);
    }
    .form-check-input {
        --darkreader-bg--bs-form-check-bg: var(--darkreader-bg--bs-form-control-bg);
        background-color: var(--darkreader-bg--bs-form-check-bg);
        background-image: var(--darkreader-bgimg--bs-form-check-bg-image);
        border: var(--darkreader-border--bs-border-width) solid var(--darkreader-border--bs-border-color);
    }
    .form-check-input:focus {
        border-color: rgb(1, 57, 137);
        outline-color: initial;
        box-shadow: rgba(2, 80, 196, 0.25) 0px 0px 0px 0.25rem;
    }
    .form-check-input:checked {
        background-color: rgb(2, 80, 196);
        border-color: rgb(1, 71, 174);
    }
    .form-check-input:checked[type="checkbox"] {
        --darkreader-bgimg--bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }
    .btn {
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        --darkreader-text--bs-btn-color: #d1cdc7;
        --darkreader-bg--bs-btn-bg: rgba(0, 0, 0, 0);
        --darkreader-border--bs-btn-border-width: var(--darkreader-border--bs-border-width);
        --darkreader-border--bs-btn-border-color: rgba(140, 130, 115, 0);
        --bs-btn-border-radius: 0.375rem;
        --darkreader-border--bs-btn-hover-border-color: rgba(140, 130, 115, 0);
        --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
        --bs-btn-disabled-opacity: 0.65;
        --darkreader-bg--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--darkreader-bg--bs-btn-focus-shadow-rgb), 0.5);
        color: var(--darkreader-text--bs-btn-color);
        text-decoration-color: initial;
        background-color: var(--darkreader-bg--bs-btn-bg);
        border: var(--darkreader-border--bs-btn-border-width) solid var(--darkreader-border--bs-btn-border-color);
    }
    .btn:hover {
        color: var(--darkreader-text--bs-btn-hover-color);
        background-color: var(--darkreader-bg--bs-btn-hover-bg);
        border-color: var(--darkreader-border--bs-btn-hover-border-color);
    }
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--darkreader-text--bs-btn-active-color);
        background-color: var(--darkreader-bg--bs-btn-active-bg);
        border-color: var(--darkreader-border--bs-btn-active-border-color);
    }
    .btn:disabled {
        color: var(--darkreader-text--bs-btn-disabled-color);
        background-color: var(--darkreader-bg--bs-btn-disabled-bg);
        border-color: var(--darkreader-border--bs-btn-disabled-border-color);
    }
    .btn-primary {
        --darkreader-text--bs-btn-color: #e8e6e3;
        --darkreader-bg--bs-btn-bg: #0250c4;
        --darkreader-border--bs-btn-border-color: #0147ae;
        --darkreader-text--bs-btn-hover-color: #e8e6e3;
        --darkreader-bg--bs-btn-hover-bg: #094bac;
        --darkreader-border--bs-btn-hover-border-color: #094fb6;
        --darkreader-bg--bs-btn-focus-shadow-rgb: 2, 72, 174;
        --darkreader-text--bs-btn-active-color: #e8e6e3;
        --darkreader-bg--bs-btn-active-bg: #0846a2;
        --darkreader-border--bs-btn-active-border-color: #0a51b9;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --darkreader-text--bs-btn-disabled-color: #e8e6e3;
        --darkreader-bg--bs-btn-disabled-bg: #0250c4;
        --darkreader-border--bs-btn-disabled-border-color: #0147ae;
    }
    .btn-success {
        --darkreader-text--bs-btn-color: #e8e6e3;
        --darkreader-bg--bs-btn-bg: #146c43;
        --darkreader-border--bs-btn-border-color: #20af6d;
        --darkreader-text--bs-btn-hover-color: #e8e6e3;
        --darkreader-bg--bs-btn-hover-bg: #115c39;
        --darkreader-border--bs-btn-hover-border-color: #22b771;
        --darkreader-bg--bs-btn-focus-shadow-rgb: 48, 122, 88;
        --darkreader-text--bs-btn-active-color: #e8e6e3;
        --darkreader-bg--bs-btn-active-bg: #105636;
        --darkreader-border--bs-btn-active-border-color: #23b873;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --darkreader-text--bs-btn-disabled-color: #e8e6e3;
        --darkreader-bg--bs-btn-disabled-bg: #146c43;
        --darkreader-border--bs-btn-disabled-border-color: #20af6d;
    }
    .navbar-brand {
        color: var(--darkreader-text--bs-navbar-brand-color);
        text-decoration-color: initial;
    }
    .navbar-brand:focus,
    .navbar-brand:hover {
        color: var(--darkreader-text--bs-navbar-brand-hover-color);
    }
    .navbar-toggler {
        color: var(--darkreader-text--bs-navbar-color);
        background-color: transparent;
        border: var(--darkreader-border--bs-border-width) solid var(--darkreader-border--bs-navbar-toggler-border-color);
    }
    .navbar-toggler:hover {
        text-decoration-color: initial;
    }
    .navbar-toggler:focus {
        text-decoration-color: initial;
        outline-color: initial;
        box-shadow: 0 0 0 var(--darkreader-bg--bs-navbar-toggler-focus-width);
    }
    .navbar-toggler-icon {
        background-image: var(--darkreader-bgimg--bs-navbar-toggler-icon-bg);
    }
    .card {
        --bs-card-spacer-y: 1rem;
        --bs-card-spacer-x: 1rem;
        --bs-card-title-spacer-y: 0.5rem;
        --darkreader-border--bs-card-border-width: var(--darkreader-border--bs-border-width);
        --darkreader-border--bs-card-border-color: var(--darkreader-border--bs-border-color-translucent);
        --bs-card-border-radius: var(--bs-border-radius);
        --darkreader-border--bs-card-inner-border-radius: calc(var(--darkreader-border--bs-border-radius) - (var(--darkreader-border--bs-border-width)));
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 1rem;
        --darkreader-bg--bs-card-cap-bg: rgba(66, 71, 74, 0.03);
        --darkreader-bg--bs-card-bg: var(--darkreader-bg--bs-body-bg);
        --darkreader-border--bs-card-bg: var(--darkreader-border--bs-body-bg);
        --bs-card-img-overlay-padding: 1rem;
        --bs-card-group-margin: 0.75rem;
        background-color: var(--darkreader-bg--bs-card-bg);
        border: var(--darkreader-border--bs-card-border-width) solid var(--darkreader-border--bs-card-border-color);
    }
    .card-body {
        color: var(--darkreader-text--bs-card-color);
    }
    .badge {
        --bs-badge-padding-x: 0.65em;
        --bs-badge-padding-y: 0.35em;
        --bs-badge-font-size: 0.75em;
        --bs-badge-font-weight: 700;
        --darkreader-text--bs-badge-color: #e8e6e3;
        --bs-badge-border-radius: 0.375rem;
        color: var(--darkreader-text--bs-badge-color);
    }
    .text-bg-primary {
        color: rgb(232, 230, 227) !important;
        background-color: RGBA(13, 110, 253, var(--darkreader-bg--bs-bg-opacity, 1)) !important;
    }
    .text-bg-secondary {
        color: rgb(232, 230, 227) !important;
        background-color: RGBA(108, 117, 125, var(--darkreader-bg--bs-bg-opacity, 1)) !important;
    }
    .text-bg-danger {
        color: rgb(232, 230, 227) !important;
        background-color: RGBA(220, 53, 69, var(--darkreader-bg--bs-bg-opacity, 1)) !important;
    }
}

/*! CSS Used from: Embedded ; media=screen */

@media screen {
    footer {
        background-color: rgb(0, 0, 0) !important;
        color: rgb(232, 230, 227) !important;
    }
    body {
        background-color: rgb(24, 26, 27);
        color: rgb(232, 230, 227);
    }
    textarea {
        box-shadow: rgb(40, 44, 45) 0px 0px 10px;
    }
}