@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3b82f6;
  --background-color: #fff;
  --hover-bg-color: #3d3c3c21;
  --error-color: #ef4444;
}
.switch input {
  display: none;
}
.help-container {
  position: absolute;
  left: 10px;
  top: 8px;
}
input:checked + .slide:before {
  content: "\f186";
  color: #fff;
  top: 3.5px;
  left: 8px;
}
.help-content {
  background-color: var(--background-color);
  display: none;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 1rem;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 2px 4px #0000001a;
  box-shadow: 0 2px 4px #0000001a;
  z-index: 10;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.help-container:hover .help-content {
  display: block;
  opacity: 1;
}
.diff-tab.active,
.file-tab-out.active,
.file-tab.active {
  background-color: #45454524;
  border-bottom: 3px solid var(--primary-color);
}
.diff-tab:hover:not(.active),
.file-tab-out:hover:not(.active),
.file-tab:hover:not(.active) {
  background-color: var(--hover-bg-color);
  border-bottom: 3px solid #3d3c3c3d;
}
.diff-tab.error.active,
.file-tab-out.error.active {
  border-bottom: 3px solid var(--error-color) !important;
}
.file-tab-out.error.active:hover {
  border-bottom: 3px solid var(--error-color);
}
.diff-tab.active.error i.fa-python,
.file-tab-out.active.error i.fa-python,
.file-tab-out.active.error > .edit-tab-icon-out {
  color: var(--error-color);
}
.file-tab-out.active.error > .edit-tab-icon-out:hover {
  color: #f87171;
}
.sticky-line-number {
  background: #45454512 !important;
}
.margin-view-overlays {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: small;
  width: 68px !important;
  background: #45454512;
}
.line-numbers {
  left: 8px !important;
  width: 20px !important;
}
.monaco-editor .margin {
  width: 68px;
}
.monaco-editor .margin-view-overlays .codicon-folding-collapsed,
.monaco-editor .margin-view-overlays .codicon-folding-expanded,
.monaco-editor .margin-view-overlays .codicon-folding-manual-collapsed,
.monaco-editor .margin-view-overlays .codicon-folding-manual-expanded {
  opacity: 1 !important;
  font-size: medium !important;
}
.slider {
  --vscode-scrollbarSlider-background: rgba(40, 127, 209, 0.65);
  --vscode-scrollbarSlider-hoverBackground: rgba(28, 88, 145, 0.65);
  --vscode-scrollbarSlider-activeBackground: rgba(28, 88, 145, 0.65);
  border-radius: 3px;
}
.apexcharts-svg,
div:where(.swal2-container) .swal2-checkbox,
div:where(.swal2-container) .swal2-radio {
  background: 0 0 !important;
}
.apexcharts-menu-item:hover {
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  #errmsg,
  #line-count,
  #line-count-out,
  #minified-size,
  #text-size {
    font-size: 12px !important;
  }
  .blue_big_box {
    width: auto !important;
  }
  #CompressFile,
  #clearAll,
  #copy,
  #diffPopup,
  #dw,
  #graphkbsize,
  #graphlines,
  #load_File,
  #resetOpt,
  #runCode,
  #selectall,
  #share {
    font-size: 10px;
  }
  .diff-tab,
  .file-tab,
  .file-tab-out {
    font-size: 14px;
  }
  #editor,
  #minified {
    height: 250px !important;
  }
  #qrCode {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }
  .file-item {
    padding-left: 14dvw;
  }
}
@media (max-width: 480px) {
  .file-item {
    padding-left: 6dvw;
  }
}
.dark .apexcharts-menu {
  background: #404040 !important;
}
.dark .apexcharts-legend-text,
.dark .apexcharts-menu-item {
  color: #ddd !important;
}
.dark .apexcharts-menu-item:hover {
  background: #70707080 !important;
}
.dark .diff-tab.active,
.dark .file-tab-out.active,
.dark .file-tab.active {
  background-color: #404040ca;
  border-color: transparent;
  border-bottom: 3px solid var(--primary-color);
}
.dark .diff-tab:hover:not(.active),
.dark .file-tab-out:hover:not(.active),
.dark .file-tab:hover:not(.active) {
  background-color: #404040a9;
  border-bottom: 3px solid #8989892d;
}
.dark .diff-tab,
.dark .file-tab,
.dark .file-tab-out {
  background-color: #4040406a;
  border-color: transparent;
}
.dark div:where(.swal2-container) div:where(.swal2-popup) {
  background: #333;
  color: #e8e6e3;
}
.dark .monaco-diff-editor .diffOverview {
  background: #000000a3 !important;
}
.dark .help-content {
  background: #181a1b !important;
  color: #d8d4cf;
  border-color: #6d6d6d;
}
.dark .hover\:ring-2:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) #131516 !important;
}
