@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css);
.switch input {
  display: none;
}
.content-ll {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-in-out;
  -o-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}
.blue_big_box {
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
}
.simp_border {
  border: 2px solid #d3d3d3;
}
.blue_black_head,
.red_black_head {
  -webkit-box-shadow: 0 0 2px rgb(0 0 0/30%);
  box-shadow: 0 0 2px rgb(0 0 0/30%);
}
.red_black_head {
  border-left: 5px solid #ef4444;
}
.blue_black_head {
  border-left: 5px solid #3b82f6;
}
.help-container {
  position: absolute;
  left: 10px;
  top: 8px;
}
input:checked + .slider:before {
  content: "\f186";
  color: #fff;
  top: 3.5px;
  left: 8px;
}
.help-content {
  background-color: #fff;
  display: none;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 1rem;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.help-container:hover .help-content {
  display: block;
  opacity: 1;
}
#editor,
#minified {
  border: 1px solid #cccccc8f;
  border-left: 6px solid rgba(0, 83, 159, 0.65);
}
.margin-view-overlays {
  user-select: none;
  font-size: small;
  width: 68px !important;
  background: rgb(69 69 69 / 7%);
}
.line-numbers {
  left: 8px !important;
  width: 20px !important;
}
.monaco-editor .margin {
  width: 68px;
}
.monaco-editor .margin-view-overlays .codicon-folding-collapsed,
.monaco-editor .margin-view-overlays .codicon-folding-expanded,
.monaco-editor .margin-view-overlays .codicon-folding-manual-collapsed,
.monaco-editor .margin-view-overlays .codicon-folding-manual-expanded {
  opacity: 1 !important;
  font-size: medium !important;
}
.slider {
  --vscode-scrollbarSlider-background: rgba(40, 127, 209, 0.65);
  --vscode-scrollbarSlider-hoverBackground: rgba(28, 88, 145, 0.65);
  --vscode-scrollbarSlider-activeBackground: rgba(28, 88, 145, 0.65);
  border-radius: 3px;
}
@media only screen and (max-width: 600px) {
  #editfileName,
  #editmsg,
  #errmsg,
  #fileNameDisplay,
  #line-count,
  #line-count-out,
  #minified-size,
  #savefilename,
  #text-size {
    font-size: 12px !important;
  }
  .blue_big_box {
    width: auto !important;
  }
  #Unselectall,
  #copy,
  #dw,
  #load_File,
  #rm,
  #selectall,
  #share {
    font-size: 14px;
  }
  #editor,
  #minified {
    height: 250px !important;
  }
}
.dark #editor,
.dark #minified {
  border-color: #3e4446;
  border-left: 6px solid rgba(0, 83, 159, 0.65);
  overflow: hidden;
}
.dark html {
  background-color: #181a1b !important;
  color-scheme: dark !important;
}
.dark body,
.dark html {
  color-scheme: dark;
  border-color: #736b5e;
  color: #e8e6e3;
}
.dark ::-webkit-input-placeholder {
  color: #b2aba1;
}
.dark ::-moz-placeholder {
  color: #b2aba1;
}
.dark :-ms-input-placeholder {
  color: #b2aba1;
}
.dark ::-ms-input-placeholder {
  color: #b2aba1;
}
.dark ::placeholder {
  color: #b2aba1;
}
.dark ::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
.dark ::-webkit-scrollbar-thumb:active {
  background-color: #484e51;
}
.dark ::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
.dark .help-content {
  background: #181a1b;
  color: #d8d4cf;
  border-color: #736b5e;
}
.dark .blue_big_box {
  -webkit-box-shadow: #52585c 0 1px 3px;
  box-shadow: #52585c 0 1px 3px;
  border-top-color: #0f3c9f;
}
.dark .simp_border {
  border-color: #3c4144;
}
.dark .bg-gray-100 {
  background-color: #1e2022;
}
.dark .bg-blue-500 {
  background-color: #0844a6;
}
.dark .bg-green-500 {
  background-color: #1b9e4b;
}
.dark .bg-red-500 {
  background-color: #9f0e0e;
}
.dark .text-blue-600 {
  color: #388fed;
}
.dark .text-gray-700 {
  color: #bdb7af;
}
.dark .text-gray-900 {
  color: #d6d3cd;
}
.dark .text-neutral-500 {
  color: #9f978b;
}
.dark .hover\:ring-2:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) #131516 !important;
}
.dark .hover\:to-blue-400:hover {
  --tw-gradient-to: #2a62a7 var(--tw-gradient-to-position);
}
.dark .hover\:from-blue-500:hover {
  --tw-gradient-from: #2a62a7 var(--tw-gradient-from-position);
}
.dark .hover\:bg-blue-600:hover {
  background-color: #1043b2;
}
.dark .hover\:bg-green-600:hover {
  background-color: #12823b;
}
.dark .hover\:bg-red-600:hover {
  background-color: #ae1c1c;
}
.dark .focus\:border-blue-500:focus {
  border-color: #07409c;
}
.dark .bg-white {
  background-color: #181a1b;
}
.dark .border-gray-300 {
  background-color: #333;
  border-color: #3c4143;
}
.dark .text-gray-600 {
  color: #707070;
}
